body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

#logo {
    width: 100px;
    height: auto;
}

#title-image {
    width: auto;
    height: 100%;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;

}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    list-style: none; 
    gap: 8px;
}

.header {
    background-color: #1F2937;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.containter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 145px;
    margin-right: 155px;
}

.top{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 50px auto;
    width: 1000px;
}
.header-info {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    gap: 16px;
}

.sign-up {
    width: 80px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    border-radius: 4px;
    border: none;
    padding: 6px;
}

.content-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px;
    padding: 8px;
}

.content {
    display: flex;
    padding: 16px;
    gap: 30px;
    justify-content: center;
    margin-bottom: 80px;
}

.text {
    margin-top: 16px;
    width: 150px;
    text-align: center;
}

.quote-container{
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight:200;
    padding: 150px;
  }

  .bella {
    font-weight: 800;
    text-align: end;
    font-style: normal;
  }

.action{
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 24px;
    margin: 125px auto;
    border-radius: 4px;
    width: 800px;
    align-items: center;
    height: 75px;
}

.call-to-action {
    font-weight: 600;
    font-size: 24px;
}

.action-subtext {
    font-size: 16px;
    font-weight: 300;
}

.action-button {
    border-color: #f9faf8;
    border-style: solid;
    width: 120px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    border-radius: 4px;
    padding: 6px;
}

  .footer{
    display: flex;
    background-color: #1F2937;
    font-size: 16px;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
